:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}
body {
  font-family: "Roboto", sans-serif;
}
label {
  font-size: 15px;
  color: var(--dark-color);
}
.detail {
  font-size: 12px;
  color: rgb(110, 110, 110);
  margin-bottom: 10px;
}
select option {
  font-size: 14px;
  color: rgb(83, 83, 83);
  overflow: hidden;
}
span {
  color: var(--red-color);
}
input:focus{
  border: none;
}
.btn.submit {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: var(--dark-color);
  color: var(--green-color);
}
.btn.submit:hover  {
  background-color: var(--green-color);
  color: var(--dark-color);
}